[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
packet = "*"
bitarray = "*"
colorama = "*"
komm = "*"
lorem-text = "*"

[dev-packages]

[requires]
python_version = "3.10"
